<%- include('partials/header') %>

<style>
  #frm-add-book label.error {
    color: red;
  }
</style>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Shto Libër</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Ballina</a></li>
            <li class="breadcrumb-item active">Shto Libër</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <% if(messages.success){ %>
          <div class="alert alert-success"><%= messages.success %></div>
          <% } %> <% if(messages.error){ %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %>
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Shto Libër</h3>
            </div>

            <div class="card-body">
              <form
                method="post"
                action="/admin/books/add-book"
                id="frm-add-book"
                enctype="multipart/form-data"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Emri</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Shëno emrin"
                        name="name"
                        required
                      />
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Selekto Kategorinë</label>
                      <select
                        class="form-control"
                        required
                        name="dd_category"
                        id=""
                      >
                        <option value="">Zgjedh kategorinë</option>
                        <% categories.forEach(category => { %>
                        <option value="<%=category.id%>">
                          <%=category.name%>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Përshkrimi</label>
                      <textarea
                        class="form-control"
                        name="description"
                        placeholder="Shëno përshkrimin"
                      ></textarea>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Sasia</label>
                      <input
                        type="number"
                        class="form-control"
                        placeholder="Shëno sasinë"
                        name="amount"
                        autocomplete="off"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Kopertina</label>
                      <input
                        type="file"
                        name="cover_image"
                        class="form-control"
                        id=""
                        required
                      />
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Autori</label>
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Shëno emrin e autorit"
                        name="author"
                        required
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Viti i Botimit</label>
                      <input
                        type="text"
                        class="form-control"
                        name="publication_year"
                        placeholder="Shëno vitin e botimit"
                      />
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Shtëpia e Botimit</label>
                      <input
                        type="text"
                        class="form-control"
                        name="publisher"
                        placeholder="Shëno shtëpinë e botimit"
                      />
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Selekto Statusin</label>
                      <select class="form-control" name="status" id="">
                        <option value="1">Aktiv</option>
                        <option value="0">Jo Aktiv</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button class="btn btn-dark" type="submit">Shto</button>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include('partials/footer') %>
