<%- include('partials/header') %>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Lista e Huazimeve</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Ballina</a></li>
            <li class="breadcrumb-item active">Lista e Huazimeve</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Lista e Huazimeve</h3>
            </div>
            <div class="card-body">
              <table
                id="tbl-list-issue-books"
                class="table table-bordered table-striped"
              >
                <thead>
                  <tr>
                    <th>Nxënësi</th>
                    <th>Libri</th>
                    <th>Kategoria</th>
                    <th>Ditët Total</th>
                    <th>Data e Huazimit</th>
                  </tr>
                </thead>
                <tbody>
                  <% list.forEach(item => { %>
                  <tr>
                    <td>
                      <%=item.user.name%> <br />
                      <%=item.user.email%>
                    </td>
                    <td><%=item.book.name%></td>
                    <td><%=item.category.name%></td>
                    <td><%=item.days_issued%></td>

                    <td><%=item.issued_date.toString().slice(3, 16)%></td>
                  </tr>
                  <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Nxënësi</th>
                    <th>Libri</th>
                    <th>Kategoria</th>
                    <th>Ditët Total</th>
                    <th>Data e Huazimit</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('partials/footer') %>
