<%- include('partials/header') %>

<style>
  #frm-issue-book label.error {
    color: red;
  }
</style>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Huazo Libër</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="/admin">Ballina</a></li>
            <li class="breadcrumb-item active">Huazo Libër</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <% if(messages.success){ %>
          <div class="alert alert-success"><%= messages.success %></div>
          <% } %> <% if(messages.error){ %>
          <div class="alert alert-danger"><%= messages.error %></div>
          <% } %>
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Huazo Libër</h3>
            </div>
            <div class="card-body">
              <form
                method="post"
                action="/admin/issues/issue-book"
                id="frm-issue-book"
              >
                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Selekto Kategorinë</label>
                      <select
                        class="form-control"
                        required
                        name="dd_category"
                        id="dd_category"
                      >
                        <option value="">Zgjedh kategorinë</option>
                        <% categories.forEach((category)=>{ %>
                        <option value="<%= category.id %>">
                          <%= category.name %>
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Selekto Librin</label>
                      <select
                        class="form-control"
                        required
                        name="dd_book"
                        id="dd_book_list"
                      >
                        <option value="">Zgjedh librin</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Selekto Nxënësin</label>
                      <select
                        class="form-control"
                        required
                        name="dd_user"
                        id=""
                      >
                        <option value="">Zgjedh nxënësin</option>
                        <% users.forEach((user)=>{ %>
                        <option value="<%= user.id %>">
                          <%= user.name %> (<%= user.email %>)
                        </option>
                        <% }) %>
                      </select>
                    </div>
                  </div>

                  <div class="col-sm-6">
                    <div class="form-group">
                      <label>Për sa ditë?</label>
                      <select
                        class="form-control"
                        required
                        name="dd_days"
                        id=""
                      >
                        <option value="">Zgjedh ditët</option>
                        <option value="7">7 ditë</option>
                        <option value="14">14 ditë</option>
                        <option value="30">30 ditë</option>
                      </select>
                    </div>
                  </div>
                </div>
                <button class="btn btn-dark" type="submit">Shto</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<%- include('partials/footer') %>
