<%- include('partials/header') %>

<style>
  .image-thumbnail {
    width: 80px;
    height: 80px;
  }
</style>

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Listo Librat</h1>
        </div>
        <!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Ballina</a></li>
            <li class="breadcrumb-item active">Listo Librat</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-dark">
            <div class="card-header">
              <h3 class="card-title">Listo Librat</h3>
            </div>

            <div class="card-body">
              <table
                id="tbl-list-book"
                class="table table-bordered table-striped"
              >
                <thead>
                  <tr>
                    <th>Kopertina</th>
                    <th>Kategoria</th>
                    <th>Emri</th>
                    <th>Sasia</th>
                    <th>Statusi</th>
                    <th>Ndrysho</th>
                  </tr>
                </thead>
                <tbody>
                  <% books.forEach(book => { %>
                  <tr>
                    <td>
                      <img
                        class="image-thumbnail"
                        src="<%=book.cover_image%>"
                        alt=""
                      />
                    </td>
                    <td><%=book.category.name%></td>
                    <td><%=book.name%></td>
                    <td><%=book.amount%></td>
                    <td>
                      <% if (book.status == '1') { %>
                      <button class="btn">Aktiv</button>
                      <% } else { %>
                      <button class="btn btn-danger">Jo Aktiv</button>
                      <% } %>
                    </td>
                    <td>
                      <a href="/admin/books/edit-book/<%=book.id%>" class="btn"
                        ><i class="fa fa-edit"> Modifiko</i></a
                      >
                      <form
                        method="post"
                        action="/admin/books/delete-book/<%=book.id%>"
                        id="frm-delete-book-<%=book.id%>"
                      >
                        <input
                          type="hidden"
                          value="<%=book.id%>"
                          name="book_id"
                        />
                      </form>

                      <a
                        href="javascript:void(0)"
                        onclick="if(confirm('Jeni të sigurtë që doni të fshini? Ky proces nuk mund të kthehet.')){  $('#frm-delete-book-<%=book.id%>').submit()  }"
                        class="btn btn-danger"
                        ><i class="fa fa-trash"> Fshij</i></a
                      >
                    </td>
                  </tr>
                  <% }) %>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Kopertina</th>
                    <th>Kategoria</th>
                    <th>Emri</th>
                    <th>Sasia</th>
                    <th>Statusi</th>
                    <th>Ndrysho</th>
                  </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
        </div>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
</div>

<%- include('partials/footer') %>
