<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteka e Qytetit - Lipjan</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,700&display=swap"
      rel="stylesheet"
    />

    <%- include("./admin/partials/includes/styles") %>
    <script
      src="https://kit.fontawesome.com/91c3ae4de4.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="plugins/fontawesome-free/css/all.min.css" />
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" style="background: #fdf5f6">
      <div class="container">
        <div class="row">
          <h4 class="display-5">BIBLIOTEKA E SHKOLLAVE TË LIPJANIT</h4>
          <p class="lead">Gjithmonë e hapur</p>
        </div>
        <div class="row">
          <div class="search col-sm-12 col-md-12 col-lg-8 col-xl-8 col-8">
            <div class="search-input">
              <form action="/searchinp">
                <input
                  name="searchTerm"
                  type="text"
                  class="form-control Input-text"
                  id="search_input"
                  placeholder="Kërko"
                />
                <div class="search-footer">
                  <button type="submit"><i class="fas fa-search"></i></button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <main>
      <section class="container-fluid books">
        <header>
          <p class="nav-item">Librat</p>
          <a href="/search/">Të gjitha <i class="fas fa-angle-right"></i></a>
        </header>

        <div class="content row">
          <% books.forEach(book => { %>
          <div class="card">
            <div class="card-header">
              <a href="/search/details/<%=book.id%>">
                <img class="card-header-img" src="<%= book.cover_image%> "
              /></a>
            </div>
            <div class="card-body">
              <span class="tag"><%= book.category.name %> </span>
              <h4 class="book-name"><%= book.name %></h4>
              <p class="book-author"><%= book.author %></p>

              <button>
                <a href="/search/details/<%=book.id%>">Lexo më shumë</a>
              </button>
            </div>
          </div>
          <% }) %>
        </div>
      </section>

      <section class="container-fluid categories">
        <header>
          <p class="nav-item">Kategoritë</p>
          <a href="/categories/"></a>
        </header>

        <div class="content row justify-content-start">
          <% categories.forEach(cat => { %>
          <div class="col-sm-6 col-md-2">
            <a class="category_link" href="/search/<%=cat.id%>">
              <p class="h6 categories_name"><%= cat.name.toUpperCase()%></p>
            </a>
          </div>
          <% }) %>
        </div>
      </section>
      <section class="container-fluid schools">
        <header>
          <p class="nav-item">Shkollat</p>
        </header>

        <div class="content row">
          <% schools.forEach(school => { %>
          <div class="all-schools card">
            <p>
              <a href="/search/schoolbooks/<%=school.id%>"
                ><%= school.name %></a
              >
            </p>

            <h6 class="card-subtitle mb-2 text-muted">
              <i class="fa-fa-location"></i><%= school.city %>
            </h6>
          </div>
          <% }) %>
        </div>
      </section>
    </main>
    <footer>
      <p>
        Ky projekt mundësohet nga IPKO Foundation dhe mbështet nga UNICEF
        Innovations Lab Kosovo.
      </p>
      <div class="partners">
        <img src="/public/images/partners/1. Austrian Development.jpg" alt="" />
        <img src="/public/images/partners/2.KKLipjan .png" alt="" />
        <img src="/public/images/partners/3. ING png.png" alt="" />
        <img src="/public/images/partners/4. IPKO Foundation Logo.png" alt="" />
        <img src="/public/images/partners/5.UNICEF png.png" alt="" />
      </div>
      <strong
        >Copyright &copy; 2022
        <a href="/">Biblioteka e Qytetit - Lipjan</a>.</strong
      >
      Të gjitha të drejtat e rezervuara
    </footer>
    <!--  MAIN -->
  </body>
</html>
