<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Biblioteka e Qytetit - Lipjan</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%- include("./../admin/partials/includes/styles") %>
  </head>
  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <%- include("./../admin/partials/includes/top-nav") %> <%-
      include("./../admin/partials/includes/sa_sidebar") %>
    </div>
  </body>

  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Listo Shkollat</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item">
                <a href="/superadmin/homepage">Ballina</a>
              </li>
              <li class="breadcrumb-item active">Listo Shkollat</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-dark">
              <div class="card-header">
                <h3 class="card-title">Listo Shkollat</h3>
              </div>
              <div class="card-body">
                <table
                  id="tbl-list-school"
                  class="table table-bordered table-striped"
                >
                  <thead>
                    <tr>
                      <th>Emri i shkollës</th>
                      <th>Adresa</th>
                      <th>Vendi</th>
                      <th>Statusi</th>
                      <th>Ndrysho</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% schools.forEach(school => { %>
                    <tr>
                      <td><%=school.name%></td>
                      <td><%=school.address%></td>
                      <td><%=school.city%></td>
                      <td>
                        <% if (school.status == '1') { %>
                        <button class="btn">Aktiv</button>
                        <% } else { %>
                        <button class="btn btn-danger">Jo Aktiv</button>
                        <% } %>
                      </td>
                      <td>
                        <a
                          href="/superadmin/schools/edit-school/<%=school.id%>"
                          class="btn"
                          ><i class="fa fa-edit"> Modifiko</i></a
                        >
                        <form
                          method="post"
                          action="/superadmin/schools/delete-school/<%=school.id%> "
                          id="frm-delete-school-<%= school.id %>"
                        >
                          <input
                            type="hidden"
                            value="<%= school.id %>"
                            name="school_id"
                          />
                        </form>

                        <a
                          href="javascript:void(0)"
                          onclick="if(confirm('Jeni të sigurtë që doni të fshini? Ky proces nuk mund të kthehet.')){  $('#frm-delete-school-<%= school.id %>').submit()  }"
                          class="btn btn-outline-danger btn-sm"
                          ><i class="fa fa-trash"> Fshij</i></a
                        >
                      </td>
                    </tr>
                    <% }) %>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Emri i shkollës</th>
                      <th>Adresa</th>
                      <th>Vendi</th>
                      <th>Statusi</th>
                      <th>Ndrysho</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <%- include('./../admin/partials/footer') %>
</html>
